# dont track
feedback
!release/*

# python
.ipynb_checkpoints
__pycache__

# clean
thesis-*
*.pre
*.log
*.dvi
*.aux
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.xmpi
*.synctexz
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.rubbercache
*.tdo
*.bkp
