# dont track
feedback
data/files
data/out
data/out-nemec
bach
!release/*

# python
.ipynb_checkpoints
__pycache__

# binary
*.pdf
img/static
*.png
*.jpg

# clean
thesis-*
*.pre
*.log
*.dvi
*.aux
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.xmpi
*.synctexz
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.rubbercache
*.tdo
*.bkp
