untracked/*

img/static
img/old

data/raw/*
data/out/*
data/makefile

*.pdf
!version/*


#begin clean
thesis-*
*.png
*.pre
*.log
*.dvi
*.aux
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.xmpi
*.synctexz
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.rubbercache
*.tdo
#end clean
